{% extends "base.html.twig" %}

{% block title 'Agence Inmogence' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence Inmogence</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ipsum nesciunt sapiente animi repudiandae ad fugit officia, consequuntur, doloribus perferendis ex reprehenderit cumque quo distinctio, voluptatem quibusdam? Eveniet, fuga unde?</p>
	</div>
{% endblock %}
